.table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
}

.tableth,
.tabletd {
  text-align: center;
  padding: 8px;
  border: 1px solid black;
}

.tableth {
  background-color: #333;
  color: white;
}

.tabletr:nth-child(even) {
  background-color: #f2f2f2;
}
